/* place the navbar at the top*/
#nav{
    display: block;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width:100%;
    line-height:20px;
    font-size: xx-large;
    color:white;
    overflow: hidden;
    background-image: url('./images/road.jpg');
}
/*style the links*/
#nav a{
    float:left;
    color: inherit;
    text-decoration: none;/*removes the underline feature on the links*/
    width: 120px;
    padding: 16px 14px;
    font-family: 'Satisfy', cursive;
}
/*style the nav links on hover*/
#nav a:hover{
    color: black;
    background-color: azure;
}
body{
    background-image: url('./images/20190326_152548.jpg');
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: grey;
}
footer{
    bottom:0;
    position: fixed;
    background-color: gold;
    width: 100%;
    left:0;
    height:75px;
    
}
/*making the image sticky*/
img{
    float: right;
    width:255px;
    padding-right: 0;
    position: -webkit-sticky; /*safari browser*/
    position: sticky;
    top: 0; 
    
}
.main{
    margin-top: 50px;
    margin-left: 500px;
    width: 650px;
}
.main #Professional{
    margin-top: 100px;
    width: inherit;/*inherit from parent main*/
    height:300px;
/*    
    -webkit-animation:spin 4s linear infinite;
-moz-animation:spin 4s linear infinite;
animation:spin 4s linear infinite; */
    
}


/* 
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } } */
.main #Professional:hover{
    background-color: blueviolet;
}
.main:hover{
    background-color: lightcoral;
}
#summary{
    background-image: url('./images/20181210_094302.jpg');
    float:right;
    width: 260px;
    top:0;
    font-family: 'Srisakdi', cursive;
    box-sizing: border-box;
    border: 2px dotted mediumseagreen;
    padding: 2px;
    font-size: large;
    
}
#summary:hover{
    background-color: rgb(218, 171, 218);
}
#summary strong{
    animation:blinkingText 1.2s infinite;
    color:blueviolet;
}
#about h1{
    font-family: 'Bungee Shade', cursive;/*google font*/
    text-align: center;     
}
#about p span{
    float: left;
    margin-right: 300px;
    font-size: x-large;
}
.main #educationbackground{
    width: 650px;
    height:100px;
}
.main #educationbackground:hover{
    background-color: darkkhaki;
}
.main #Skills{
    width: 650px;
    height:200px;
}
.main #Skills:hover{
    background-color: rgba(95, 165, 95, 0.233);
}
@media screen and (max-width:300px){
    body{
        background-color: mediumslateblue;
        background-image: url('./images/IMG_20170520_173847.jpg');
    }
    img{
        float:left;
        position: relative;
    }
    nav{
        background-image: url('./images/20181210_094302.jpg');
    }
    nav a{
        font-size: medium;
        float: left;
    }
}

#welcome {
    display: inline-flex;
    justify-content: center;
    font-family: 'Jim Nightshade', cursive;/*google font*/
    animation: rotation 4s infinite linear;
    margin-top: 45px;
   
  }
  
  @keyframes rotation {
    50% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

    

@keyframes blinkingText{
    0%{     color: #000; }
    49%{    color: #000; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}