#nav{
    display: block;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width:100%;
    line-height:20px;
    font-size: xx-large;
    color:white;
    overflow: hidden;
    background-image: url('./images/IMG_20170520_173847.jpg');
}
#nav a{
   
    float:left;
    color: inherit;
    text-decoration: none;
    width: 120px;
    padding: 16px 14px;
}
#nav a:hover{
    color: black;
    background-color: azure;
}
body{
    background-image: url('./images/20190326_152548.jpg');
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: grey;
}
footer{
    bottom:0;
    position: absolute;
    background-color: gold;
    width: 100%;
    left:0;
    height: 100px;
}
/*@media only screen and (max-width:300px) and (max-height:400px){
    body{
        background-color: lightgray;
        background-image: url('./images/IMG_20170520_173847.jpg');

    }
}*/
